body{
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar-brand {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }


  #splash{
    background-color: #333;
    color: #fff;
    height: 100%;
    padding-top:15%;
    padding-bottom: 8%;

    /*
    background-image: url(https://media.istockphoto.com/id/1074115128/es/foto/agua-splash.jpg?s=612x612&w=0&k=20&c=0l0_4W40-l8dK91CZmMxq8mGwQiJD34_A4zz81UGC0Y=);
    background-position: center;
    background-size: cover;
    */
    
  }

  #splash h1{
    font-size: 3rem;
    text-shadow: 0px 4px 3px rgba(255,255,255,0.5)
  }


  

  #portfolio{
    background-image: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzB8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
  }

  .thumbnail img{
    width: 100%;
    height: 100%;
  }

  #aboutme{
    background-color: #333;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #aboutme h2{
    text-align: center;
  }

  #aboutme img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }


  #aboutme .col-md-9{
    display: flex;
    align-items: center;
    padding: 5%;
  }